{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<section class="pf-c-page__main-section pf-m-light pf-u-text-align-center">
  <div class="pf-c-content">
    <h1>{% trans "Sign In" %}</h1>
  </div>
</section>

<section class="pf-c-page__main-section pf-m-light pf-u-text-align-center">

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="pf-c-form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="pf-c-form__control_group pf-u-text-align-center">
    {{ form|crispy }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="pf-c-button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="pf-c-button pf-m-primary" type="submit">{% trans "Sign In" %}</button>
</form>
</section>


{% endblock %}

